extends ../../../../../pug/layout/_layout.pug
include ../../../../../pug/layout/_head.pug
include ../../../../../pug/layout/_header.pug
include ../../../../../pug/Components/_navigation.pug

block scripts
    - var path = "./local/templates/furnitureAssembly"
    script(src="https://telegram.org/js/telegram-web-app.js")
    script(src=`${path}/libs/jquery/jquery-3.7.1.min.js`)
    script(src=`${path}/js/common.js`)
    script(src=`${path}/pages/profile/js/index.js?v=2`)


block head
  - var path = "./local/templates/furnitureAssembly"
  link(rel="stylesheet", href=`${path}/css/style.css`)
  +head('Профиль - сборка мебели', '')

block content
    - var path = "./local/templates/furnitureAssembly"
    div(class="max-w-[45rem] mx-auto relative")
        div(class="px-4 h-max bg-black")
            header(class="py-3")
                div(class="flex items-center justify-end")
                    a(href="#", class="relative")
                        img(src=`${path}/img/icons/Bell.svg`, alt="иконки", class="w-6 h-6 object-contain filter-white")
                        div(class="rounded-full w-2 h-2 absolute right-[0.125rem] top-0 bg-red-600")
        main
            div(class="flex flex-col gap-4 pt-8 pb-16 items-center bg-black rounded-b-[2rem]")
                img(userPicture="", src=`${path}/img/other/stub.png`, alt="картинка пользователя", class=" rounded-full w-3/5 min-w-16 max-w-36 overflow-hidden shadow-lg aspect-1-1",)
                p(userName="", class="font-montserrat font-semibold text-base text-white") Иванов Иван
            div(class="px-4")
                div(class="rounded-[2rem] bg-white shadow-lg min-h-60 -mt-10 p-6 flex flex-col gap-3 mb-24")
                    div(class="flex flex-col gap-1")
                        div(class="grid grid-cols-auto-1fr gap-2")
                            p(class="font-montserrat font-normal text-sm text-black") Филиал:
                            p(class="font-montserrat font-normal text-sm text-primary") Москва
                        div(class="grid grid-cols-auto-1fr gap-2")
                            p(class="font-montserrat font-normal text-sm text-black") Бригада:
                            p(class="font-montserrat font-normal text-sm text-primary") Мытищи
                        div(class="grid grid-cols-auto-1fr gap-2")
                            p(class="font-montserrat font-normal text-sm text-black") Номер телефона:
                            p(class="font-montserrat font-normal text-sm text-primary") +7 (999) 888 76 44
                        div(class="grid grid-cols-auto-1fr gap-2")
                            p(class="font-montserrat font-normal text-sm text-black") E-mail:
                            p(class="font-montserrat font-normal text-sm text-primary") user@email.com
                        div(class="grid grid-cols-auto-1fr gap-2")
                            p(class="font-montserrat font-normal text-sm text-black") Дата Рождения:
                            p(class="font-montserrat font-normal text-sm text-primary") 23 апреля
                        div(class="grid grid-cols-auto-1fr gap-2")
                            p(class="font-montserrat font-normal text-sm text-black") Владелец АМ:
                            p(class="font-montserrat font-normal text-sm text-primary") Mitsubishi т768ср790
                    div(class="flex flex-col gap-1")
                        div(class="grid grid-cols-full")
                            p(class="font-montserrat font-normal text-sm text-black") Адрес:
                            p(class="font-montserrat font-normal text-sm text-primary") г.Москва, ул.Московская д.15 кв.4
                        div(class="grid grid-cols-full")
                            p(class="font-montserrat font-normal text-sm text-black") Фактический адрес проживания:
                            p(class="font-montserrat font-normal text-sm text-primary") г.Москва, ул.Московская д.15 кв.4
                    div(class="flex flex-col gap-1")
                        div(class="grid grid-cols-full")
                            p(class="font-montserrat font-normal text-sm text-black") Класс работ:
                            div(class="flex flex-wrap gap-2")
                                div(class="w-6 h-6  relative")
                                    img(src=`${path}/img/icons/Ruler.svg`, class="w-full h-full object-contain peer")
                                    div(class="hidden p-2 rounded-md bg-black w-max peer-hover:block z-10 relative")
                                        p(class="font-montserrat font-semibold text-base text-white") Замер
                                div(class="w-6 h-6  relative")
                                    img(src=`${path}/img/icons/UserCircle.svg`, class="w-full h-full object-contain peer")
                                    div(class="hidden p-2 rounded-md bg-black w-max peer-hover:block z-10 relative")
                                        p(class="font-montserrat font-semibold text-base text-white") Осмотр
                                div(class="w-6 h-6  relative")
                                    img(src=`${path}/img/icons/Armchair.svg`, class="w-full h-full object-contain peer")
                                    div(class="hidden p-2 rounded-md bg-black w-max peer-hover:block z-10 relative")
                                        p(class="font-montserrat font-semibold text-base text-white") Салон
                                div(class="w-6 h-6  relative")
                                    img(src=`${path}/img/icons/RoadHorizon.svg`, class="w-full h-full object-contain peer")
                                    div(class="hidden p-2 rounded-md bg-black w-max peer-hover:block z-10 relative")
                                        p(class="font-montserrat font-semibold text-base text-white") Дальность
                                div(class="w-6 h-6  relative")
                                    img(src=`${path}/img/icons/HandCoins.svg`, class="w-full h-full object-contain peer")
                                    div(class="hidden p-2 rounded-md bg-black w-max peer-hover:block z-10 relative")
                                        p(class="font-montserrat font-semibold text-base text-white") Доплата
                        div(class="grid grid-cols-full")
                            p(class="font-montserrat font-normal text-sm text-black") Соц. сети:
                            div(class="flex gap-2")
                                a(href="#", class="w-6 h-6")
                                    img(src=`${path}/img/icons/SlackLogo.svg`, alt="Иконка", class="w-full h-full object-contain filter-primary")
                                a(href="#", class="w-6 h-6")
                                    img(src=`${path}/img/icons/TelegramLogo.svg`, alt="Иконка", class="w-full h-full object-contain filter-primary")
                                a(href="#", class="w-6 h-6")
                                    img(src=`${path}/img/icons/WhatsappLogo.svg`, alt="Иконка", class="w-full h-full object-contain filter-primary")
            -
                var items = [
                    {
                        link: "https://sergey-khomyakov.github.io/miniAppFurnitureAssembly/",
                        text: "Главная",
                        src: "./local/templates/furnitureAssembly/img/icons/House.svg",
                    },
                    {
                        link: "https://sergey-khomyakov.github.io/miniAppFurnitureAssembly/profile.html",
                        text: "Профиль",
                        src: "./local/templates/furnitureAssembly/img/icons/UserCircle.svg",
                    },
                    {
                        link: "https://sergey-khomyakov.github.io/miniAppFurnitureAssembly/",
                        text: "Анкета",
                        src: "./local/templates/furnitureAssembly/img/icons/ClipboardText.svg",
                    },
                    {
                        link: "https://sergey-khomyakov.github.io/miniAppFurnitureAssembly/",
                        text: "Заказы",
                        src: "./local/templates/furnitureAssembly/img/icons/Package.svg",
                    },
                    {
                        link: "https://sergey-khomyakov.github.io/miniAppFurnitureAssembly/",
                        text: "График",
                        src: "./local/templates/furnitureAssembly/img/icons/Calendar.svg",
                    },
                ]
            +nav(1, items)
