div(class=" fixed left-0 bottom-4 w-full h-max")
    div(class="px-3")
        nav(class="w-full h-16 rounded-lg bg-black grid grid-cols-5 gap-2 py-1 px-2")
            a(href="#" class="w-full h-full rounded-md overflow-hidden bg-white flex flex-col gap-1 items-center p-1")
                img(src=`${path}/img/icons/House.svg`, alt="иконка", class="w-4/5 max-w-6 aspect-1-1 filter-black")
                p(class="font-montserrat font-semibold text-xs text-black") Главная
            a(href="#" class="w-full h-full rounded-md overflow-hidden flex flex-col gap-1 items-center p-1 group hover:bg-white")
                img(src=`${path}/img/icons/UserCircle.svg`, alt="иконка", class="w-4/5 max-w-6 aspect-1-1 group-hover:filter-black filter-white")
                p(class="font-montserrat font-semibold text-xs text-white group-hover:text-black") Профиль
            a(href="#" class="w-full h-full rounded-md overflow-hidden flex flex-col gap-1 items-center p-1 group hover:bg-white")
                img(src=`${path}/img/icons/ClipboardText.svg`, alt="иконка", class="w-4/5 max-w-6 aspect-1-1 group-hover:filter-black filter-white")
                p(class="font-montserrat font-semibold text-xs text-white group-hover:text-black") Анкета
            a(href="#" class="w-full h-full rounded-md overflow-hidden flex flex-col gap-1 items-center p-1 group hover:bg-white")
                img(src=`${path}/img/icons/Package.svg`, alt="иконка", class="w-4/5 max-w-6 aspect-1-1 group-hover:filter-black filter-white")
                p(class="font-montserrat font-semibold text-xs text-white group-hover:text-black") Заказы
            a(href="#" class="w-full h-full rounded-md overflow-hidden flex flex-col gap-1 items-center p-1 group hover:bg-white")
                img(src=`${path}/img/icons/Calendar.svg`, alt="иконка", class="w-4/5 max-w-6 aspect-1-1 group-hover:filter-black filter-white")
                p(class="font-montserrat font-semibold text-xs text-white group-hover:text-black") График
